/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Fortify implementation : © Nirmatt Gopal nrmtgpl@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * fortify.css
 *
 * Fortify stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (fortify_fortify.tpl), and to HTML elements you create dynamically
    (in fortify.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/
#game_play_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#player_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#board_container {
    position: relative;
    margin: 10px;
}

#board {
    width: 424px;
    height: 428px;
    position: relative;
    margin: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.board4{
    background-image: url('img/board.png');
}

.board5{
    background-image: url('img/board5.png');
}

#slots_container {
    position: absolute;
    top: 22px;
    left: 15px;
    width: 72%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.board_slot {
    border: 0.5px dashed #6e74df;
    width: 100%;
    height: 100%;
}

.board-slot{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#units_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.player_deck {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;
}

#player_deck_top {
    background-color: #34d9a7;
    height: 100px;
    border-radius: 22px;
    width: 645px;
}

#player_deck_bottom {
    background-color: #ff8b8b;
    height: 100px;
    border-radius: 22px;
    width: 500px;
}

.unit_deck {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.unit {
    width: 68px;
    height: 68px;
    background-size: cover;
    position: relative;
    filter: drop-shadow(4px 4px 2px #222);
    margin: 0 -36px;
    z-index: 1;
}

.selected {
    border-style: double;
    border-radius: 43px;
    border-width: thin;
    /* padding: 2px; */
    border-width: thin;
}

.unit.fortified {
    filter: drop-shadow(-3px 1px 6px gold) drop-shadow(4px 4px 2px #222);
}

.unit.highlight-target {
    box-shadow: 0 0 9px 2px red;
    cursor: pointer;
    /* border: black; */
    border-radius: 32px;
}

.unit.reinforcement {
    top: 3px;
    left: 5px;
}

.highlighted {
    background-color: yellow;
    opacity: 0.3;
}

.action-menu {
    display: flex;
    flex-direction: row;
}

.action-button {
    margin: 5px 0;
    padding: 5px 10px;
    cursor: pointer;
}

.margin-0 {
    margin: 0;
}

.active {
    background-color: #9cdf9c;
}

.infantry.red {
    background-image: url('img/infantry_red.png');
}

.infantry.red.unit.fortified {
    background-image: url('img/infantry_red_fortified.png');
}

.infantry.green {
    background-image: url('img/infantry_green.png');
}

.infantry.green.unit.fortified {
    background-image: url('img/infantry_green_fortified.png');
}

.battleship.red {
    background-image: url('img/battleship_red.png');
}

.battleship.red.fortified {
    background-image: url('img/battleship_red_fortified.png');
}

.battleship.green {
    background-image: url('img/battleship_green.png');
}

.battleship.green.unit.fortified {
    background-image: url('img/battleship_green_fortified.png');
}

.tank.red {
    background-image: url('img/tank_red.png');
}

.tank.red.unit.fortified {
    background-image: url('img/tank_red_fortified.png');
}

.tank.green {
    background-image: url('img/tank_green.png');
}

.tank.green.unit.fortified {
    background-image: url('img/tank_green_fortified.png');
}

#reinforcement_track {
    right: -5px;
    position: absolute;
    top: 15px;
}

.reinforcement_slot {
    width: 49px;
    height: 68px;
    /* margin: 5px; */
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    top: 1px;
}

.heart_slot {
    background-image: url('img/heart.png');
    /* Example image */
    background-size: cover;
}

.chopper.red {
    background-image: url('img/chopper_red.png');
}

.chopper.red.fortified {
    background-image: url('img/chopper_red_fortified.png');
}

.chopper.green {
    background-image: url('img/chopper_green.png');
}

.chopper.green.fortified {
    background-image: url('img/chopper_green_fortified.png');
}

.artillery.red {
    background-image: url('img/artillery_red.png');
}

.artillery.red.fortified {
    background-image: url('img/artillery_red_fortified.png');
}

.artillery.green {
    background-image: url('img/artillery_green.png');
}

.artillery.green.fortified {
    background-image: url('img/artillery_green_fortified.png');
}

#points_display {
    width: 95%;
    max-width: 500px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    left: -500px; /* Initially hidden */
    transition: display 0.3s ease-in-out; /* Smooth transition effect */
}

/* #points_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

.player_points {
    font-size: 18px;
    font-weight: bold;
}

.points_value {
    font-size: 24px;
}

#help-button {
    /* position: fixed; */
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    z-index: 1000;
}

#reference-cards {
    position: fixed;
    top: 50%;
    left: 77%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1001;
    width: 100%;
}

.reference-card {
    max-width: 58vw;
    max-height: 58vh;
    object-fit: contain;
    display: none;
}

.formation {
    border: black;
    border-style: dashed;
    border-width: 2px;
    border-radius: 43px;
}